---
import Features from "../components/Features.astro";
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import HowItWorks from "../components/HowItWorks.astro";
---

<Layout title="Welcome to FootPool.">
  <main class="dark space-y-20 mb-40">
    <Banner />
    <About />
    <Features />
    <HowItWorks />
  </main>
</Layout>
