---
import Container from "./Container.astro";
import girlBettingImage from "../assets/girl-betting.png";
---

<div id="how-it-works">
  <Container>
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
      <div class="md:5/12 lg:w-1/2">
        <img
          src={girlBettingImage.src}
          alt="image"
          width="100"
          height="100"
          class="w-full"
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2
          class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        >
          How it works
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
          FootPool draws inspiration from the popular Spanish "quiniela,"
          incorporating similar rules and betting structures to create a
          familiar and engaging user experience.
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/5836/5836184.png"
                width="50"
                height="50"
                alt="Sign up"
              />
            </div>
            <div class="w-5/6">
              <h3
                class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
              >
                Connect your wallet
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Connect any wallet to FootPool.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/1763/1763476.png"
                width="50"
                height="50"
                alt="Deposit crypto"
              />
            </div>
            <div class="w-5/6">
              <h3
                class="font-semibold text-lg text-gray-700 dark:text-teal-300"
              >
                Deposit
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Deposit funds securely via cryptocurrency.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/6482/6482267.png"
                width="50"
                height="50"
                alt="Deposit crypto"
              />
            </div>
            <div class="w-5/6">
              <h3
                class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
              >
                Bet
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Place your bets on upcoming sports matches.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/1642/1642423.png"
                width="50"
                height="50"
                alt="Deposit crypto"
              />
            </div>
            <div class="w-5/6">
              <h3
                class="font-semibold text-lg text-gray-700 dark:text-teal-300"
              >
                Win
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Track your bets and view results in real-time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
